{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Living Space Sq Ft</th>
        <th scope="col">Beds</th>
        <th scope="col">Baths</th>
        <th scope="col">Zip</th>
        <th scope="col">Year</th>
        <th scope="col">List Price</th>
    </tr>
    </thead>
    <tbody>
   {% for house in zillow %}
    <tr>
        <td><a href="view/{{house.id}}">{{ house.id }}</a></td>
        <td>{{ house.Living_Space_sq_ft }}</td>
        <td>{{ house.Beds }}</td>
        <td>{{ house.Baths }}</td>
        <td>{{ house.Zip }}</td>
        <td>{{ house.Year }}</td>
        <td>{{ house.List_Price }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}