% extends "layout.html" %}
{% block content %}
<form action="/zillow/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="Living_Space_sq_ft">Square Feet</label>
            <input id="Living_Space_sq_ft" type="text" class="form-control" placeholder="Square Feet"
                   name="Living_Space_sq_ft">
        </div>
        <div class="col">
            <label for="Beds">Beds</label>
            <input id="Beds" type="text" class="form-control" placeholder="Beds"
                   name="Beds">
        </div>
        <div class="col">
            <label for="Baths">Baths</label>
            <input id="Baths" type="text" class="form-control" placeholder="Baths" name="Baths">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="Zip">Zip</label>
            <input id="Zip" type="text" class="form-control" placeholder="Zip" name="Zip">
        </div>
        <div class="col">
            <label for="Year">Year</label>
            <input id="Year" type="text" class="form-control" placeholder="Year" name="Year">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="List_Price">List Price</label>

            <input id="List_Price" type="text" class="form-control" placeholder="List Price"
                   name="List_Price">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Add Entry</button>

</form>

{% endblock %}